{%extends 'base.html'%}
{%block main_block%}
<div class="container">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="" method="post" class="border border-2 p-4 shadow">
                {%csrf_token%}
                <h3 class="text-center my-2">Add Transaction</h3>
                <div class="row">
                    <div class="col-6">
                        <label for="">Enter Title</label>
                        {{form.title}}
                    </div>
                    <div class="col-6">
                        <label for="">Enter Amount</label>
                        {{form.amount}}
                    </div>
                </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="">Select Category</label>
                            <select name="category_object" id="" class="form-select">
                                {%for cat in categories%}
                                <option value="{{cat.id}}">{{cat.name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="">Select payment method</label>
                            {{form.payment_method}}
                        </div>
                    </div>
                </div>
                    <center>
                        <button type="submit" class="my-2">Add</button>
                    </center>
                </div>
                
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table mt-4 border table-dark">
                <tr>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Payment Method</th>
                    <th>Action</th>
                </tr>
                {%for t in transactions%}
                <tr>
                    <td>{{t.title}}</td>
                    <td>{{t.amount}}</td>
                    <td>{{t.payment_method}}</td>
                    <td class="d-flex gap-2">
                        <a href="{%url 'transaction-edit' t.id%}" class="btn btn-outline-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{%url 'transaction-remove' t.id%}" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{%endblock%}